button {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.button {
  width: 119px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
.button:hover {
  background: #16133d;
  color: #fff;
}

    
