.person-info-carousel-wrapper {
    width: 1197px;
    display: none;
  }
  
  .dots-wrapper-carousel {
    width: 35.08px;
    height: 8px;
    display: none;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid #2f281e;
    cursor: pointer;
  }
  .activeDot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #2f281e;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.activeSlide {
    opacity: 1;
    transition-duration: 1s;
  }
  
  @media screen and (max-width: 400px) {
    .person-info-carousel-wrapper {
      width: 333px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .dots-wrapper-carousel {
      display: flex;
      justify-content: space-between;
      margin-top: 27px;
    }
  }