.header{
    height:86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid #EFEEF3;
}
.btn-wrapper {
    width:260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


